    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <b>Augustin Schüler- und Studentenförderung Heidenheim</b>
            <br />
            <br />
            Telefon: 07321/7589939
            <br />
            E-Mail: info@augustin-heidenheim.de
          </div>
          <div class="column">
            <b>Rechtliches und andere Informationen zur Verwendung der Seite</b>
            <br />
            <br />
            <a href="/impressum"
              >Impressum</a
            >
            <br />
            <a href="/datenschutzerklaerung"
              >Datenschutzerklärung</a
            >
          </div>
          <div class="column">
            <b>Realisation und Umsetzung der Webseite</b>
            <br />
            <br />
            <a href="https://enval.de">Enval - Digital Business Solutions</a>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>