  <!-- KODIERUNG -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- COOKIE -->
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="ff299fbe-3662-4e6f-a620-bd152bf07932"
      data-blockingmode="auto"
      type="text/javascript"
    ></script>
    <!-- INITS -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- ICONS -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- SEO -->
    <meta name="author" content="Augustin Schüler- und Studentenförderung" />
    <meta name="publisher" content="Augustin Schüler- und Studentenförderung" />
    <meta name="copyright" content="Augustin Schüler- und Studentenförderung" />
    <meta
      name="description"
      content="{{description}}"
    />
    <meta name="keywords" content="seo, digitalisierung" />
    <meta name="page-topic" content="Dienstleistung" />
    <meta name="page-type" content="Anleitung" />
    <meta name="audience" content="Alle" />
    <meta http-equiv="content-language" content="de" />
    <meta name="robots" content="index, follow" />
    <meta
      name="DC.Creator"
      content="Augustin Schüler- und Studentenförderung"
    />
    <meta
      name="DC.Publisher"
      content="Augustin Schüler- und Studentenförderung"
    />
    <meta name="DC.Rights" content="Augustin Schüler- und Studentenförderung" />
    <meta
      name="DC.Description"
      content="{{description}}"
    />
    <meta name="DC.Language" content="de" />
    <!-- FAV -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/site.webmanifest" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="/images/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <!-- TITLE -->
    <title{{title}}</title>
    <!-- TRACKING -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-165285294-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-165285294-1", { anonymize_ip: true });
    </script>
    <!-- Hotjar Tracking Code for enval.de -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 1792892, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>