    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/logo.png" />
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">
              Startseite
            </a>

            <a
              href="/konzept"
              class="navbar-item"
            >
              Konzept
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Fächer
              </a>

              <div class="navbar-dropdown">
                <a
                  href="/faecher/mathematik"
                  class="navbar-item"
                >
                  Mathematik
                </a>
                <a
                  href="/faecher/physik"
                  class="navbar-item"
                >
                  Physik
                </a>
                <a
                  href="/faecher/mathematik-im-studium"
                  class="navbar-item"
                >
                  Mathematik im Studium
                </a>
                <a
                  href="/faecher/englisch"
                  class="navbar-item"
                >
                  Englisch
                </a>
                <a
                  href="/faecher/deutsch"
                  class="navbar-item"
                >
                  Deutsch
                </a>
                <a href="/faecher/franzoesisch" class="navbar-item">
                  Französisch
                </a>
                <a
                  href="/faecher/spanisch"
                  class="navbar-item"
                >
                  Spanisch
                </a>
              </div>
            </div>
            <a
              href="/lehrer-werden"
              class="navbar-item"
            >
              Lehrer werden
            </a>
            <a
              href="/kontakt"
              class="navbar-item"
            >
              Kontakt
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-link is-rounded">
                  <strong>Kostenlos testen</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>