    <div class="container is-fluid">
      <div
        class="container-bg"
        style="
          background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
        "
      >
        <div class="container-inner">
          <h1 class="title is-3 has-text-white">
            Wir geben Nachhilfe für Schüler- und Studenten in Heidenheim.
          </h1>
          <a class="button is-light is-rounded" href="">Kostenlos testen</a>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container has-text-centered">
        <h2 class="title">
          Vor Ort oder online bundesweit.
        </h2>
        <p>
          Ob <b>Mathe</b>, <b>Physik</b>, <b>Englisch</b> oder <b>Deutsch</b> -
          wir machen dich fit für Klausuren und Prüfungen. Unsere Nachhilfe ist
          individuell auf dich abgestimmt: Deine Themen, deine Fragen, dein
          Tempo. Wir erklären dir deine Problemfächer so einfach, dass du’s
          wirklich verstehst.
        </p>
        <br />
        <a class="button is-link is-rounded has-text-weight-bold" href=""
          >Unsere Fächer</a
        >
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <img src="./images/Augustin-Nachhilfe-Heidenheim-26.jpg" alt="" />
          </div>
          <div class="column">
            <img src="./images/Augustin-Nachhilfe-Heidenheim-58.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="center-icon has-text-centered">
          <span class="material-icons">
            format_quote
          </span>
        </div>
        <br />
        <h3 class="title is-5 has-text-centered">
          Wir geben Nachhilfe für Schüler- und Studenten in Heidenheim.
        </h3>

        <p class="has-text-centered">
          Vom Diplom-Mathematiker bis zur staatlich geprüften Sprachlehrerin,
          stellen wir ein Expertenteam bereit, dass neben ausgezeichneter
          Fachkompetenz über langjährige Unterrichtserfahrung verfügt. Seit 2014
          unterrichten wir hauptberuflich in Heidenheim an der Brenz und sind
          dort vor allem für unsere Mathematik- und Physikkurse bekannt. Mit den
          meisten Schülern arbeiten wir auf ein erfolgreiches Mathe-Abitur hin,
          verhelfen aber auch in wichtigen Sprachen wie Englisch, Französisch
          und Deutsch zu besseren Noten in Klassenarbeiten und Abitur.
        </p>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <div style="padding: 56.25% 0 0 0; position: relative;">
              <iframe
                src="https://player.vimeo.com/video/309625726?autoplay=1&loop=1&title=0&byline=0&portrait=0"
                style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                "
                frameborder="0"
                allow="fullscreen"
                allowfullscreen
              ></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <div class="column">
            <h4 class="title is-5">Nachhilfe in Heidenheim</h4>
            <p>
              Online oder vor Ort. Wir arbeiten mit maximal 2 Schülern pro Kurs,
              wobei es egal ist, ob die Schüler sich in gleichen oder
              unterschiedlichen Klassenstufen befinden. Im fliegenden Wechsel
              unterrichten wir jeden Einzelnen ganz nach seinen individuellen
              Anforderungen. So können wir intensiv auf aktuelle Themen und
              Verständnisprobleme eingehen und gleichzeitig die nötige Zeit
              einräumen, das Erklärte zu üben und zu wiederholen.
            </p>
            <br />
            <p>
              Liebe Eltern und Schüler, mittlerweile erreichen uns so viele
              Anfragen, dass wir an unsere Kapazitätsgrenzen stoßen. Wir bitten
              daher nur eine Anfrage zu stellen, wenn Eltern und Kind
              einvernehmlich an unserer Nachhilfedienstleistung interessiert
              sind und Preise & Konditionen akzeptiert werden.
              Selbstverständlich bleibt der Probetermin weiterhin kostenlos und
              unverbindlich.
            </p>
            <br />
            <a class="button is-link is-rounded" href=""
              >Probetermin anfragen</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <h4 class="title is-5">Warum Augustin-Nachhilfe ?</h4>
            <p>
              Wir sind Fachexperten. Jeder Augustin - Nachhilfelehrer
              unterrichtet täglich bis zu 6 Stunden und beherrscht sein
              Kompetenzfach in allen Themen und Klassen absolut sicher und
              routiniert.
              <br /><br />
              Wir arbeiten effizient. In unseren Nachhilfekursen gehen wir
              intensiv und im Detail auf deine Fragen ein, schliessen
              Wissenslücken und sorgen für ein solides Grundverständnis. Auf
              dieser Basis wiederholen wir den Unterrichtsstoff solange bis du
              ihn vollständig verstanden hast. Wir lassen keine Fragen offen.
              <br />
              <br />
              Auf uns ist Verlass. Als hauptberufliche Nachhilfe-Lehrer haben
              wir ausschließlich deinen wöchentlichen Lernfortschritt im Fokus.
              Während bei anderen Nachhilfe-Anbieter mit häufigen Lehrerwechseln
              zu rechnen ist, bieten wir dir eine dauerhafte und produktive
              Zusammenarbeit mit deinem Lieblingslehrer. Stimmt die Chemie
              zwischen dir und deinem Nachhilfelehrer, setzen wir alles daran
              diese Verbindung aufrechtzuerhalten. Denn die Erfahrung hat uns
              gezeigt, dass nur Lehrer die einen guten Draht zu ihren Schülern
              aufbauen können, auch einen effektiven Nachhilfeunterricht
              durchführen.
            </p>
            <br />
            <p>
              Liebe Eltern und Schüler, mittlerweile erreichen uns so viele
              Anfragen, dass wir an unsere Kapazitätsgrenzen stoßen. Wir bitten
              daher nur eine Anfrage zu stellen, wenn Eltern und Kind
              einvernehmlich an unserer Nachhilfedienstleistung interessiert
              sind und Preise & Konditionen akzeptiert werden.
              Selbstverständlich bleibt der Probetermin weiterhin kostenlos und
              unverbindlich.
            </p>
            <br />
            <a class="button is-link is-rounded" href=""
              >Probetermin anfragen</a
            >
          </div>
          <div class="column">
            <img
              src="./images/augustin-schüler-und-Studentenförderung-Heidenheim-4-1.jpg"
              alt=""
            />
            <img src="./images/Augustin-Nachhilfe-Heidenheim-65.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <div class="container is-fluid">
      <div
        class="container-bg"
        style="
          background-image: url(./images/Augustin-Nachhilfe-Heidenheim-65.jpg);
        "
      >
        <div class="container-inner">
          <div class="container padded">
            <h5 class="title is-3 has-text-white">
              Teste unsere Nachhilfe kostenlos und unverbindlich.
            </h5>
            <p class="has-text-white">
              Überzeuge dich selbst. In der Probestunde gehen wir sofort auf
              deine Problemthemen ein und sorgen schnell für mehr Klarheit. Egal
              ob online oder zentral vor Ort in Heidenheim, wir sorgen dafür,
              dass du deinen Unterrichtsstoff noch innerhalb der Probestunde
              verstehst.
            </p>
            <br />
            <a class="button is-light is-rounded" href=""
              >Probetermin anfragen</a
            >
          </div>
        </div>
      </div>
    </div>